# EditorConfig 用于在 IDE 中检查代码的基本 Code Style
# @see: https://editorconfig.org/

# 配置说明：
# 所有文件换行使用 Unix 风格（LF），*.bat 文件使用 Windows 风格（CRLF）
# java / sh 文件缩进 4 个空格，其他所有文件缩进 2 个空格

root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = space
max_line_length = 120
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bat, cmd}]
end_of_line = crlf

[*.{java, gradle, groovy, kt, sh}]
indent_size = 4

[*.md]
max_line_length = 0
trim_trailing_whitespace = false
